<!DOCTYPE html>
<html lang="en_GB">
<head>
    <meta charset="UTF-8">
    <title>Ludo Hirst's Personal Site</title>
    </head>
<body>
    <h1>Ludo Hirst</h1>
    <p>this site is currently under construction</p>
    
    <p>i'm a third year mathematics student at the university of bristol</p>
    
    <p>read my <a href="/blog/">blog here</a></p>
    
    <p>my <a href="https://github.com/LudoHirst">github</a>.</p>
    
    <p>send me an email at <a href="mailto:oc22569@bristol.ac.uk">oc22569@bristol.ac.uk</a>.</p>
    
</body>
</html>
